body{
    font-family: 'Roboto', sans-serif;
    cursor: url(pradip-cursor.png), auto;
    
}


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    


}
img {
	max-width: 100%;
}
.clr {
	clear: both;
}
marquee{
    text-align: center;
    background: #f8f9fa;
    margin-top: 5px;
    border-bottom: 5px solid;
}
    header{
        background: linear-gradient(170deg, rgb(245, 16, 16) 36%, #FFC107 103%);
}



header .navbar .navbar-nav .nav-link{
    font-size: 30px;
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-shadow: 1px 3px #e6d9d9;
}
header .navbar .navbar-nav .nav-link:hover{
    text-shadow: 1px 0px #e6d9d9;
    color: #0e0bce !important;


}
header .navbar .navbar-nav .nav-link:hover{
    color: transparent;

}
.about-us{
    margin: 20px 0px 30px 0px;

    
}
.about-us h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ef3d08;


}
.about-us p{
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-align: center;
    color: #0c0505;
    font-weight: 500;
}
.about-us a{
    font-size: 25px;
    background: red;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}
.page {
    margin: 70px 0px 0px 0px;
    padding: 30px 0px;
    text-align: center;
    background: #bb2a2a4d;

}

.page .page-bx i{
    font-size: 150px;
    text-align: center;
    
}

.page .page-bx h1{
    font-size: 50px;
    margin: 20px 0px 20px 0px;
    
}
.page .page-bx h2{
    font-size: 50px;

    
}

element.style {
}
.scroll-btn {
    position: fixed;
    bottom: 30px;
    right: 0px;
    width: 50px;
    display: none;
}

.about-img,
.form-left{
-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}
.create-password{
	visibility: hidden;
}
footer {
    background: #000;
    padding: 30px 0px;
}
footer .foter-bx h2 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .foter-bx ul li {
    list-style: none;
    line-height: 2.5em;

}
footer .foter-bx ul li a {
    list-style: none;
    text-decoration: none;
    line-height: 2em;
    font-size: 18px;
    color: #e8dada;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 10px;
    letter-spacing: 0.5px;

}

footer .foter-bx ul li i {
    color: #abacca;
    font-size: 21px;
    text-align: center;
}
footer .foter-bx ul li a:hover {
    color: red;
}
footer .foter-bx ul li i:hover {
    color: red;
}


.form-left {
    padding: 20px 0px;
}
