body {
  font-family: 'Space Grotesk', sans-serif;
  cursor: url(pradip-cursor.png), auto;
}

#home,
      #projectid,
      #formid,
      #websiteid,
      #aboutid,
      html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.clr {
  clear: both;
}

marquee {
  text-align: center;
  background: #f9f9fb;
  padding: 10px 0px 10px 0px;
  margin-bottom: -6px;
  border-bottom: 5px solid;
}
      /* Start header css */
header {
  background-image: linear-gradient(#4c3899, #d70e4f, green);
  padding: 20px 0;
  position: relative;
}

header .phone-hide {
  position: absolute;
}

header .navbar .navbar-nav .nav-link {
  font-size: 24px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  line-height: 1em;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
}

header .navbar .navbar-nav .nav-link:hover {
  text-shadow: 1px 0px #e6d9d9;
  color: #000 !important;
  border-color: #fff;
  border-bottom-style: dashed;
}

header .navbar .navbar-nav .nav-link:hover {
  color: transparent;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
  
      /* End Header css */
  
  
      /* Start Banner css */
.carousel .carousel-indicators {
  bottom: -10px;
}

.carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  border: 2px solid #f90a1a;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .5s;
  text-indent: 0;
  overflow: hidden;
  opacity: 1;
}

.carousel .carousel-indicators li img {
  height: 100%;
  max-width: 116px;
}

.carousel .carousel-indicators li.active {
  margin-top: -25px;
  transition: .5s;
}

.carousel a span {
  position: relative;
}

.carousel a span:before {
  content: "";
  background: blue;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid #fff;
}
  /* Start About css */
.about-us {
  margin: 20px 0px 30px 0px;
}

.about-us .about-right h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #ff0000;
  text-transform: uppercase;
  border-bottom: 5px solid #ff0000;
  display: inline-block;
  padding: 0 15px;
  transition: .7s;
}

.about-us .about-right p {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000;
  font-weight: 500;
  line-height: 1.6em;
  border-left: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  padding: 0 15px;
  transition: .7s;
}

.about-us .about-right a {
  font-size: 20px;
  background: red;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: .7s;
}

.about-us .about-right:hover h1 {
  color: #000000;
  border-color: #000000
    transition: .7s;
}

.about-us .about-right:hover p {
  color: red;
}

.about-us .about-right:hover a {
  text-decoration: none;
  background: #00020c;
  color: #ffffff;
  transition: .7s;
}
  
      /* End About css */
  
  
      /* Start Website Development css */
.web-development {
  background: #0811e2;
  padding: 50px 15px;
  text-align: center;
}

.web-development:hover {
  background-color: red;
}

.web-development h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #ef3d08;
  border-bottom: 5px solid red;
  display: inline-block;
  padding: 0 15px;
}

.web-development:hover h1 {
  color: #000000;
  border-color: #000000;
}

.web-development .card-body {
  position: relative;
  box-shadow: -1px -12px 25px 16px rgba(12, 9, 9, 0.1);
  border-radius: 5px;
}

.web-development .card-body h3 {
  font-size: 24px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-weight: 700;
  display: inline-block;
  border-radius: 20px;
  border: 5px solid red;
  border-right: 0;
  border-left: 0;
}

.web-development .card-body:hover h3 {
  border-color: #fff;
}

.web-development .card-body:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000!important;
  transition: 1s;
}

.text-dark {
  font-size: 21px;
}

.web-development .card-body p {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  text-align: left;
  font-family: sans-serif;
  line-height: 1.7em;
  border: 5px solid red;
  padding: 10px 15px;
  border-top: 0;
  letter-spacing: 0.2px;
}

.web-development .card-body a {
  font-size: 20px;
}

.web-development .card-body:hover:before {
  width: 100%;
}

.web-development .card-body:hover h3, .web-development .card-body:hover p, .web-development .card-body:hover a {
  color: #fff;
  z-index: 999;
  position: relative;
  border-color: #fff;
}

.web-development .card-body a {
  background-color: #000;
  transition: .5s;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 8px 25px;
}

.web-development .card-body:hover a {
  background-color: transparent;
  transition: 5.5s;
}
      /* End Website Devlopment css */
  
      /* Start Contact Form css */
.contact {
  text-align: center;
  padding: 50px 0;
}

.contact h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #ef3d08;
  border-bottom: 5px solid red;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
}

.form-group {
  text-align: left;
}

.form-group textarea,
.form-group input::placeholder {
  color: red;
  font-size: 15px;
  font-weight: 500;
}

.form-group textarea {
  padding: 15px;
}

.form-bx button {
  font-size: 20px;
  background: red;
  color: #fff;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: .7s;
  border: 0px;
}

.form-bx button:hover {
  background: #00020c;
  color: #ffffff;
  transition: .7s;
}

.form-bx label {
  font-size: 20px;
  font-weight: 500;
  color: #101010;
  margin: 0 0 5px 5px;
  font-weight: 700;
}

.form-left {
  padding: 0px 0px;
}
          /* End Contact Form css */
  
              /* Start User css */
  
  
.page {
  text-align: center;
  background: red;
  padding: 50px 0;
}

.page:hover {
  background-color: blue;
}

.page > h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  border: 5px solid #ffffff;
  border-radius: 20px;
  border-right: 0;
  border-left: 0;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
  color: #fff;
}

.page .page-bx {
  border-radius: 4px;
  padding: 15px 0;
  border: 5px solid transparent;
  transition: .5s;
}

.page .page-bx:hover {
  background-color: #ffffff;
  border-color: #130505
        transition: .5s;
}

.page .page-bx i {
  font-size: 150px;
  text-align: center;
}

.page .page-bx:hover i {
  color: #9C27B0;
}

.page .page-bx:hover i {
  transform: rotate(1800deg);
  transition: 3.5s;
}

.page .page-bx h1 {
  font-size: 50px;
  margin: 20px 0px 20px 0px;
  color: #48f70f;
}

.page .page-bx:hover h1 {
  color: #0120fb;
}

.page .page-bx:hover h2 {
  color: red;
}

.page .page-bx h2 {
  font-size: 50px;
  color: #ffffff;
}
  
          /* End User css */
  
.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 0px;
  display: none;
}

.scroll-btn a img {
  width: 80px;
  height: 130px;
}

.message,
      .create-password {
  color: red;
}
  
  
          /* Start Footer css */
  
footer {
  background: #000;
  padding: 50px 0px;
  background: url(footer-img.jpg);
  background-attachment: fixed;
  text-align: center;
}

footer h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #ef3d08;
  border-bottom: 5px solid red;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 15px;
}

footer .foter-bx {
  text-align: left;
}

footer .foter-bx h2 {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 5px solid #ffffff;
  text-align: center;
  border-left: 0;
  border-right: 0;
  border-radius: 20px;
  padding: 5px 25px;
  display: inline-block;
}

footer .foter-bx ul li {
  list-style: none;
  line-height: 2.5em;
}

footer .foter-bx ul li a {
  list-style: none;
  text-decoration: none;
  line-height: 2em;
  font-size: 18px;
  color: #e8dada;
  text-transform: capitalize;
  font-weight: 500;
  margin-left: 10px;
  letter-spacing: 0.5px;
}

footer .foter-bx ul li i {
  color: #abacca;
  font-size: 21px;
  text-align: center;
}

footer .foter-bx ul li a:hover {
  color: red;
}

footer .foter-bx ul li i:hover {
  color: red;
}
  
  
          /* End Footer css */
  
  
          /* Start Responsive css */
  
@media only screen and (min-width:768px) {
  .destop-hide {
    display: none !important;
  }
}

@media only screen and (max-width:767px) {
  .container-fluid {
    padding: 0 !important;
  }

  .phone-hide {
    display: none !important;
  }

  .carousel-item img {
    height: 200px;
  }

  .form-bx .maps iframe {
    height: 400px;
  }

  .scroll-btn {
    width: 40px;
  }

  .carousel a span:before {
    width: 60px;
    height: 60px;
    top: -20px;
    left: -20px;
  }

  .carousel .carousel-indicators li.active {
    margin-top: -15px;
  }
    .about-us .about-right {
      margin-top: 20px;
    }

  .about-us .about-right p {
    padding: 0;
    border: 0;
}

  .web-development {
    padding: 50px 0px;
  }
  .web-development .card-body h3 {
    font-size: 20px;
    padding: 10px 5px;
    display: block;
}
  .web-development .card-body p {
    padding: 0;
    border: 0;
}

  .contact .form-left {
    margin-bottom: 50px;
  }

  footer h1 {
    display: block;
  }

  footer .foter-bx h2 {
    text-align: center;
    display: block;
  }
}
